# Ignore virtual environment
env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore model files and pickles
*.pkl
*.h5

# Ignore log files
logs/
